/* Button Styles */

.btn a, .btn:hover a {
	text-decoration: none;
}
.btn {
  font-size: 17px;
  padding: 8px 25px;
  background: white; /* fallback for older browsers */
  background: rgba(0,0,0,0);
  color: $color-primary;
  text-decoration: none;
  border-radius: 1px;
  border: 1px solid $color-primary;
  display: inline-block;
  transition: background-color 0.1s ease-in-out;
	margin: 30px 0;
  transition: transform .5s;
}
.btn:hover{
	background: $color-primary;
	color: $white;
  text-decoration: none;
  transform: translateY(-3px);
}
.btn-primary {
	color: $white;
	background-color: $color-primary;
}
.btn-primary:hover {
	color: $color-primary;
	background-color: $white; /* fallback for older browsers */
	background: rgba(0,0,0,0);
}
